{% extends "base.html" %}
{% block header %}
    <title>{% block title %}Was ist das?{% endblock %}</title>
{% endblock %}

{% block content %}
<p>
    Guten Tag{% if name %} {{name}}{% endif %},
    um im Labor halbwegs den Überblick zu behalten, würden wir gerne wissen wer im Labor was für Maschinen verwendet.
</p>

<p>
    Wenn Du im Labor (außerhalb von Lehrveranstaltungen die im Stundenplan des
    FVM-Labors angesetzt sind) Dinge im Rahmen des freien Übens verwendest,
    gehst Du jeweils mit dem Labor einen kleinen Leihvertrag ein. Das System
    mit den QR-Codes vereinfacht diesen Prozess für uns alle.
</p>
<p>
    Es sollte selbstverständlich sein, dass Du auf die Werkzeuge und
    Einrichtungen die Du nutzt achtest, nichts beschädigst und beim Gehen
    Deinen Arbeitsplatz sauber und aufgeräumt hinterlässt. Falls doch etwas
    kaputt geht, wird Dir sicher nicht der Kopf abgerissen - aber Du hast
    Verantwortung für die von Dir verwendeten Dinge übernommen und daher kann
    es durchaus sein, dass Du für einen Schaden den Du verursacht hast
    aufkommen musst. Es schadet nicht, Deine private Haftpfichtversicherung im
    Vorfeld zu fragen, in wie weit sie in einem solchen Fall eintritt. Bei
    manchen (gerade den teureren und empfindlicheren) Geräten und Maschinen
    wollen wir bevor Du diese Dinge nutzen darfst auch gerne eine bestätigte
    Haftpflichtversicherung sehen.
</p>
<p>
    Genaueres steht in den Ausleihbedingungen des FVM-Labors, die Du sicher
    bereits kennst.
</p>
<p>
    Um das nochmal klar zusammenzufassen: Es ist verboten, im Labor Dinge mit
    QR-Code zu nutzen, ohne sie mit dem QR-System auszutragen.
</p>
<p>
    Sobald der nächste ein Ding verwendet hat, wird kurz danach der vorherige
    Nutzer gelöscht. So ist sichergestellt, dass Deine Daten auch wieder aus
    dem System verschwinden.
</p>

{% endblock %}
