<!doctype html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='pure-min.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav class="pure-menu-horizontal">
        <span class="pure-menu-heading">FVM-Labor</span>
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="{{ url_for('about') }}" class="pure-menu-link">Über</a></li>
        </ul>
    </nav>
    <section class=content>
        <header>
            {% block header %}{% endblock %}
        </header>

        {% block content %}{% endblock %}
    </section>
</body>
