{% extends "base.html" %}
{% block header %}
<!--    <title>{% block title %}Aktuell genutzte Dinge{% endblock %}</title>
<h1>Aktuell genutzte Dinge:</h1>-->
{% endblock %}

{% block content %}
    <p>
    Hier sind die derzeit noch reservierten Dinge:
    </p>
    <table class="pure-table-bordered">
        <tr><th> InventarNr.&nbsp;</th><th>&nbsp;</th><th>&nbsp;Bezeichnung&nbsp;</th></tr>
{% for item in items %}
    <tr>
            <td>
                {% if priv is true %}<a href="/l/return/{{item[0]}}">{% endif %}
                    {{item[0]}}
                {% if priv is true %}</a>{% endif %}
            </td>
            <td>&nbsp;</td>
            <td>{{item[1]}}</td>
    </tr>
{% endfor %}
    </table>
{% endblock %}


