{% extends "base.html" %}
{% block header %}
<!--    <title>{% block title %}Nutzung der letzten Woche{% endblock %}</title>
<h1>Nutzungen:</h1>-->
{% endblock %}

{% block content %}
    <p>
    Hier ist die Liste der Nutzungen in der letzten Woche:
    </p>
    <table class="pure-table-bordered">
        <tr><th>&nbsp;Name&nbsp;</th><th>&nbsp;</th><th>EMail</th><th>&nbsp;</th><th>von</th><th>&nbsp;</th><th>bis</th></tr>
{% for item in items %}
    <tr>
        <td>{{item[0]}}</td>
        <td>&nbsp;</td>
        <td>{{item[1]}}</td>
        <td>&nbsp;</td>
        <td>{{item[2]}}</td>
        <td>&nbsp;</td>
        <td>{{item[3]}}</td>
    </tr>
{% endfor %}
    </table>
{% endblock %}


