{% extends "base.html" %}
{% block header %}
    <title>{% block title %}Register to qrhello{% endblock %}</title>
<h1>Hello</h1>
{% endblock %}

{% block content %}

<form method="post" class="pure-form pure-form-stacked">
    {% if cookies_set %}
    <label for="name">Name</label>
    <input name="name" value="{{ name }}" required />

    <label for="email">E-Mail</label>
    <input name="email" type="email" value="{{ email }}" required />
    {% else %}
    <label for="name">Name</label>
    <input name="name" placeholder="Name" required />

    <label for="email">E-Mail</label>
    <input name="email" type="email" placeholder="Email" required />
    {% endif %}

    <button type="submit" class="pure-button pure-button-primary">Speichern</button>
</form>
{% endblock %}


